extends layout

block content
  h1= title
  if user
    p Welcome #{user.name}
    if user.membership_status.member
      p #[a(href="/membersonly/logout") Log out] or #[a(href="/membersonly/message/create") post a message].
    else 
      p #[a(href="/membersonly/logout") Log out] or #[a(href="/membersonly/join") join the club].
  else
    p Welcome! Please #[a(href="/membersonly/signup") create an account] or #[a(href="/membersonly/login") log in].
  each message in messages
    div.message
      h2= message.title 
      p= message.text 
      if user
        if user.membership_status.member
          p= message.timestamp 
          p Posted by #{message.user.name} (#{message.user.username})
        if user.membership_status.admin || user.username == message.user.username
          a(href=message.url+'/delete') Delete message
