extends layout

block content
  div#topcontent
    h1.title= title
    if user
      p Welcome #{user.name}
      if user.membership_status.member
        a.button#specialbutton(href="/membersonly/logout") Log out
        a.button#specialbutton(href="/membersonly/message/create") Post a message
      else 
        a.button#specialbutton(href="/membersonly/logout") Log out 
        a.button#specialbutton(href="/membersonly/join") Join the club
    else
      p Welcome! Please #[a(href="/membersonly/signup") create an account] or #[a(href="/membersonly/login") log in].
  each message in messages
    div.message
      h2.messagetitle= message.title 
      p.messagetext= message.text 
      if user
        if user.membership_status.member
          div.messageinfo
            p Posted on #{message.date}
            p Posted by #{message.user.name} (#{message.user.username})
        if user.membership_status.admin || user.username == message.user.username
          a.button(href=message.url+'/delete') Delete message
  if user && user.membership_status.member && !user.membership_status.admin
    br
    p Become an admin by clicking #[a(href="/membersonly/admin") here].
  block footer