extends layout 

block content
  h1 #{title}#{message.title}
  if user && (user.membership_status.admin || user.username == message.user.username)
    p Message: 
      h3= message.title 
      p= message.text
    p Do you really want to delete this message?
    form(method='POST' action='')
      div
        input(type='hidden' name='messageid' required='true' value=message._id)
        button Delete 
  else 
    p You do not have permission to delete this message.

  if errors
    ul
      for error in errors
        li!= error.msg